<body id="grad">
  <div id="wrapper">
    <div id="imgwrapper">
      <img src="/assets/logo.png">
    </div>
    <br>
    <br>
    <br>
    <h1> What is ONE IN A MILLION</h1>
    <p> The premise is simple, what is the closest number you can guess to a secret random number in the range of a million?</p>
    <p> The closer your guess is to the secret random number the greater your score! </p>
    <p> Submit and compare your score to other player's scores on the leaderboard! </p>
    <p> Your performance is entirely based on luck, so don't worry, and try again to get a better score! </p>
    <br>
    <button [routerLink]="'/main-screen'"> Let's guess!</button>
  </div>
</body>
